@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 30px;
    z-index: 10;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
        font-size: 17px;
        line-height: 15px;
        text-transform: uppercase;
        @extend %ubuntu-medium;

    }
    &__btn{
        color: #fff;
        background-color: transparent;
        padding: 6px 28px;
        border: 1px solid #fff;
        border-radius: 3px;
        margin-right: 8px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            color: #000;
            background-color: #fff;
        }
    }
    &__phone{
        font-size: 16px;
        line-height: 18px;
        @extend %ubuntu-bold;
    }
}

.menu{
    &__list-item{
        display: inline-block;
        & + .menu__list-item{
            padding-left: 20px;
        }
    }
}

.top{
    background-image: url('../img/background.png');
    &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
        opacity: 0.4;
    }
    &__inner{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    &__title{
        font-size: 90px;
        line-height: 113px;
        font-weight: 600;
        @extend %sf-semibold;
        margin-bottom: 25px;
    }
    &__wrapper{
        display: flex;
        align-items: flex-end;
    }
    &__text{
        margin: 25px 0 35px;
        max-width: 325px;
    }
    &__social-item{
        display: inline-block;
        margin: 0 25px;
        margin-bottom: 25px;
    }
    &__social-link{
        opacity: 0.5;
        transition: all 0.3s;
        &:hover{
            opacity: 1;
        }
    }
}

.products{
    &__inner{
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        margin-bottom: 50px;
    }
    &__text{
        max-width: 440px;
        p{
            margin-bottom: 30px;
        }
    }
        &__slider-box{
            position: relative;
            padding-top: 110px;
        }
        &__slider-text{
            width: 285px;
            position: absolute;
            text-align: right;
            font-size: 24px;
            line-height: 28px;
            @extend %ubuntu-medium;
            bottom: 30px;
            left: -250px;
            z-index: 5;
        }
        &__slider{
            max-width: 560px;
            &::before{
                content: "";
                position: absolute;
                width: 560px;
                height: 276px;
                border: 4px solid #fff;
                top: -15px;
                right: -17px;

            }
        }
    }
.slick-track{
    width: 3360px !important;
}
.slick-slide{
    width: 560px !important;
}

    .slider-btn{
        padding: 16px 26px;
        cursor: pointer;
        border: none;
        background-color: #fff;
        position: absolute;
        bottom: -48px;
        right: 0;
        z-index: 5;
        outline: none;
        svg{
            stroke: #000;
        }
        &__left{
            right: 60px;
        }
        &.slick-disabled{
            background-color: #1C1C1C;
            svg{
                stroke: #fff;
            }
        }
    }

.benefits{
    &__items{
        display: flex;
        flex-wrap: wrap;
        padding-left: 25px;
    }
    &__item{
        margin-bottom: 100px;
        display: flex;
        align-items: flex-end;
        &:nth-child(even){
            margin-left: 40px;
            transform: translateY(20px);
        }
        &:nth-child(3){
            margin-left: 30px;
        }
        &:nth-child(4){
            margin-left: 60px;
        }
        &:first-child,
        &:nth-child(3){
            position: relative;
            &::before,
            &::after{
                content: '';
                position: absolute;
                background-repeat: no-repeat;
                background-position: 0 0;
            }
        }
        &:first-child{
            &::before{
                width: 245px;
                height: 48px;
                background-image: url(../img/line1.svg);
                right: -66px;
                top: 40px;
            }
        }
        &:nth-child(3){
            &::before{
                background-image: url(../img/line3.svg);
                width: 254px;
                height: 45px;
                top: 55px;
                left: 380px;
            }
            &::after{
                background-image: url(../img/line2.svg);
                width: 463px;
                height: 100px;
                top: -62px;
                left: 140px;
            }
        }
    }
    &__num{
        font-size: 36px;
        line-height: 41px;
        @extend %ubuntu-bold;
        margin-right: 10px;
    }
    &__img{
        position: relative;
        margin-right: 32px;
        &::before{
            content: "";
            position: absolute;
            width: 195px;
            height: 130px;
            border: 2px solid #fff;
            top: -12px;
            right: -12px;
            z-index: -1;
        }
    }
    &__info{
        width: 300px;
        margin-top: 10px;
    }
    &__info-title{
        width: 127px;
        font-size: 21px;
        line-height: 24px;
        @extend %ubuntu-bold;
        margin-bottom: 10px;
    }
    &__info-text{
        font-size: 15px;
        line-height: 18px;
    }
}

.specification{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 25px;
    }
    &__item{
    }
    &__box{
        width: 280px;
        position: relative;
        margin-top: 10px;
        &::before{
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: cover;
        }
    }
    &__box-2{
        margin-top: 140px;
    }
    &__box-4{
        margin-top: 160px;
    }
    &__box-1::before{
        background-image: url(../img/pointer-1.svg);
        width: 270px;
        height: 135px;
        right: -166px;
        top: 13px;
    }
    &__box-2::before{
        background-image: url(../img/pointer-2.svg);
        width: 411px;
        height: 97px;
        right: -324px;
        top: -79px;
    }
    &__box-3::before{
        background-image: url(../img/pointer-3.svg);
        width: 247px;
        height: 129px;
        right: 308px;
        top: 17px;
    }
    &__box-4::before{
        background-image: url(../img/pointer-4.svg);
        width: 124px;
        height: 101px;
        right: 288px;
        top: -85px;
    }
    &__box-title{
        font-size: 21px;
        line-height: 28px;
        @extend %ubuntu-bold;
        margin-bottom: 10px;
    }
    &__box-text{
        font-size: 15px;
        line-height: 130%;
        font-weight: 300;

    }   
}

.questions{
    &__items{
        max-width: 757px;
        margin-bottom: 15px;
        height: 442px;
    }
    &__item{
        background-color: rgba(0, 0, 0, 0.3);
        max-width: 690px;
        position: relative;
    }
    &__item-title{
        font-size: 21px;
        @extend %ubuntu-medium;
        line-height: 28px;
        color: rgba($color: #fff, $alpha: 0.8);
        padding: 20px 10px 20px 40px;
        margin-bottom: 4px;
        position: relative;
        &::after{
            content: url("../img/arrow-down\ 2.svg");
            position: absolute;
            top: 0;
            background-color: #fff;
            right: -72px;
            width: 72px;
            height: 67px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
    &__item-text{
        font-size: 15px;
        line-height: 150%;
        padding: 0 5px 75px 50px;
        margin: 0 0 4px;
        display: none;
    }
    &__item.questions__item--active{
        .questions__item-title::after{
            transform: rotate(180deg);
        }
        .questions__item-text{
            display: block;
        }
    }
}

.contacts{
    &__inner{
        display: flex;
        padding-left: 25px;
        margin-bottom: 136px;
    }
    &__info{
        width: 240px;
        margin-right: 60px;
    }
    &__info-box{
        margin-bottom: 30px;
    }
    &__info-title{
        font-size: 21px;
        line-height: 24px;
        @extend %ubuntu-bold;
        margin: 0 0 13px;
    }
    &__info-phone,
    &__info-email{
        font-size: 15px;
        line-height: 18px;

    }
    &__info-email:hover{
        text-decoration: underline;
    }
    &__form{
        width: 570px;
        margin-right: 106px;
    }
    &__form-title{
        font-size: 21px;
        line-height: 24px;
        @extend %ubuntu-bold;
        margin: 0 0 13px;
    }
    &__form-text{
        font-size: 15px;
        line-height: 130%;
        margin: 0 0 12px;
    }
    &__form-line{
        display: flex;
        justify-content: space-between;
    }
    &__form-input,
    &__form-textarea,
    &__form-input:focus,
    &__form-textarea:focus{
        background: rgba(0, 0, 0, 0.5);
        border: none;
        border-color: transparent;
        resize: none;
        @extend %ubuntu-regular;
        padding: 15px;
        font-size: 13px;
        color: #fff;
        &::placeholder{
            color: rgba(#fff,0.4);
        }
    }
    &__form-input{ 
        width: 49%;
    }
    &__form-textarea{
        min-height: 144px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    &__form-btn{
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 16px;
        @extend %ubuntu-bold;
        border: 1px solid #fff;
        border-radius: 2px;
        padding: 9px 15px;
        color: #fff;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s;
    }
    &__form-btn:hover{
        background-color: #fff;
        color: #000;
    }
    &__social-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__social-item{
        margin: 14px 0;
    }
    &__social-link{
        opacity: 0.5;
        transition: 0.3s;
    }
    &__social-link:hover{
        opacity: 1;
    }
}

.footer{
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    &__copy{
        text-align: right;
        font-size: 13px;
        line-height: 130%;
        color: rgba(#fff, 0.64);

    }
}
@import "media";
