@charset "UTF-8";
/*Спецификация*/
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif; }

ul, li {
  display: block;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #000; }

h3 {
  font-weight: 400; }

h2 {
  text-align: center; }

/*Первый экран*/
header {
  padding-top: 58px;
  background: #fcdb00;
  color: #010101;
  padding-bottom: 105px;
  overflow: hidden; }

.menu {
  margin-top: 45px; }

.menu__item {
  margin: 0 57px; }

.logo{
  margin: 50px;
  height: auto;
  padding: 0;
}

.menu__item a {
  font-size: 22px;
  font-weight: 700;
  color: #000; }

.offer {
  margin-top: 117px; }

.offer__title {
  font-size: 32px;
  margin-bottom: 15px;
  line-height: 1.3em; }

.offer__intro {
  font-size: 20px; }

.offer__text {
  font-size: 16px;
  margin-top: 20px;
  width: 400px; }

.icons__item {
  margin-right: 30px; }

.icons__item a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #000;
  font-size: 42px; }

.icons__item a:hover {
  text-decoration: none;
  opacity: 0.8; }

.ipad {
  padding-top: 60px;
  display: block;
  margin: 0 auto; }

/*Второй экран*/
.title {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 70px; }

.title__main {
  font-size: 32px; }

.title__text {
  font-size: 20px;
  width: 700px;
  margin: 0 auto; }

.feature {
  margin-bottom: 65px; }

.pdb {
  padding-bottom: 100px; }

.feature__title {
  font-size: 22px; }

.feature__icon {
  font-size: 50px;
  margin-right: 30px;
  color: #000;
  padding-top: 3px; }

.purple__icon {
  color: #fcdb00; }

.feature__text {
  color: #898989; }

/*Третий экран*/
.touch {
  background: #010101; }

.touch .title__main {
  color: #fcdb00; }

.touch .title__text {
  color: #6f6f6f; }

.form {
  text-align: center; }

.form__input {
  outline: none;
  background: #fff;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 540px;
  padding: 14px 0;
  margin-right: 21px;
  padding-left: 23px;
  margin-bottom: 10px; }

.form__btn {
  background: #fcdb00;
  padding: 14px 0;
  border: 0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  width: 40%;
  cursor: pointer; }

footer {
  background: #010101; }

footer .title__text {
  font-size: 16px;
  width: 180px;
  color: #fff; }

/*Медиа запросы*/
@media screen and (max-width: 992px) {
  .logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px; }
  .offer {
    margin-top: 40px;
    text-align: center; }
  .offer__text {
    margin: 0px auto; }
  .icons {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .form__input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%; }
  .form__btn {
    margin-top: 10px;
    width: 100%; }
  .title__text {
    width: auto; } }

@media screen and (max-width: 540px) {
  .logo {
    display: block;
    text-align: center; }
  .menu__item {
    margin-bottom: 20px; }
  .menu__item a {
    font-size: 30px; }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .offer__text {
    width: 100%;
    padding-top: 20px; }
  .icons__item {
    margin: 0 auto; }
  .icons {
    padding-top: 20px; } }
